<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @loaderio_7abd2d23994e8fb4f6f945f20b5204db.name %>
</p>


<%= link_to 'Edit', edit_loaderio_7abd2d23994e8fb4f6f945f20b5204db_path(@loaderio_7abd2d23994e8fb4f6f945f20b5204db) %> |
<%= link_to 'Back', loaderio_7abd2d23994e8fb4f6f945f20b5204dbs_path %>
